<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>
      <ion-chip outline color="primary" (click)="openPageClientes()">
        <ion-icon name="accessibility-outline"></ion-icon>
        <ion-label>Clientes</ion-label>
      </ion-chip>
      </p>
      <p>
      <ion-chip outline color="secondary" (click)="openPageEmpreendimentos()">
        <ion-icon name="business-outline"></ion-icon>
        <ion-label>Empreendimentos</ion-label>
      </ion-chip>
    </p>
    <p>
      <ion-chip outline color="tertiary" (click)="openPageContas()">
        <ion-icon name="cash-outline"></ion-icon>
        <ion-label>Contas</ion-label>
      </ion-chip>
    </p>
  </div>
</ion-content>
